MONGODB_URI=mongodb:// ahmad0903998_db_user:hPsVznnElO9k00Td@ac-fdrav1o-shard-00-00.unnaux5.mongodb.net:27017,ac-fdrav1o-shard-00-01.unnaux5.mongodb.net:27017,ac-fdrav1o-shard-00-02.unnaux5.mongodb.net:27017/?ssl=true&replicaSet=atlas-2ll1e8-shard-0&authSource=admin&appName=Cluster0
PORT=4000
